{% extends "home/main.html" %}
{% block body %}
{% load static %}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/fort.png' %}" style="height: 100vh; width: 100vw;object-fit: cover;" class="carousel-img">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'images/leh.jpg' %}" style="height: 100vh; width: 100vw;object-fit: cover;" class="carousel-img">
      </div><div class="carousel-item ">
        <img src="{% static 'images/taj.jpg' %}" style="height: 100vh; width: 100vw;object-fit: cover;" class="carousel-img">
      </div><div class="carousel-item ">
        <img src="{% static 'images/temples.jpg' %}" style="height: 100vh; width: 100vw;object-fit: cover;" class="carousel-img">
      </div>
    </div>
</div>
<!--
  <img src="{% static 'images/logotrans.png' %}" width="15%" object-fit="contain" style="position: absolute;top:5%;left:0;z-index: 5;"/>

-->
<div style="position: absolute; top:50%;left:50%;font-size: 6vmax;font-weight: 900;color: white;z-index: 1;letter-spacing: 0.6ch;transform: translate(-50%,-50%);">
    <p>DISCOVER </p>
    <P style="position: relative;font-size: 5vmax;">INDIA</P>
    <button type="button" style="position: absolute;top:45vmin;left:50%;transform: translate(-50%,-50%);" class="custombtn" data-toggle="modal" data-target="#loginmodal">sign up/ log in</button>
    <!-- Modal -->
  
</div>
<div>
  {% block otp %}
  {% include "home/loginsignupdialog.html" %}  
  {% endblock %}
</div>
{% endblock %}